<IfModule mod_rewrite.c>
	RewriteEngine on
	Options +FollowSymLinks
	RewriteRule ^/?DisplayVideo/([a-zA-Z0-9]+)/([a-zA-Z0-9]+)$ displayVideo.php?subjId=$1&lecId=$2
	RewriteRule ^/?([a-zA-Z0-9]+)/([a-zA-Z0-9]+)/([a-zA-Z0-9]+)$ index.php?a=$1&b=$2&c=$3
	RewriteCond %{REQUEST_FILENAME} !-l
</IfModule>

<Files ~ "\.json">
Order allow,deny
Deny from all
</Files>

ErrorDocument 404 /nptel/error.php?status=404
ErrorDocument 500 /nptel/error.php?status=500
ErrorDocument 403 /nptel/error.php?status=403
